<a href="https://colab.research.google.com/github/shwethathatipelly/CRT/blob/master/Day_6(04_12_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Accept a no. and check is the no. is divisble by 3 and 5 or not
x = int(input("enter any value"))
if( x%3 == 0 and x%5 == 0): 
  print("number is divisble by 3 and 5")
else:
  print("number is not divisble by 3 and 5")

enter any value39
number is not divisble by 3 and 5

In [0]:
# Accept a no. and check the given no. is positive or negative or zero
x=int(input("enter any number"))
if (x>0):
  print("The number is positive")
elif (x==0):  
  print("The number is zero")
else:
  print("The number is negative")

enter any number0
The number is zero

In [0]:
# Accept the age of a person and decide the person is eligible for voting or bot
x = int(input("enter the age"))
if x>=18 :
  print("The person is eligible for voting")
else:
  print("The person is not eligible for voting")

enter the age67
The person is eligible for voting

### 
 Accept the 3 subject marks of a student if the student gets min. 30 marks in all subjects ,then go for finding avg,or print fail.
 if avg is >75 print A ,65<avg<75  print B, 45<avg<65 print C, 30<avg<45 print D

In [0]:
x = int(input("enter sub-1 marks"))
y = int(input("enter sub-2 marks"))
z = int(input("enter sub-3 marks"))
avg = 0
if x >= 30 and y >= 30 and z >=30:
  avg = avg+(x+y+z)/3
  print(avg)
if avg>75:
  print("Grade A")
elif 65<avg <= 75:
  print("Grade B")
elif 45<avg <= 65:
  print("Grade C")
elif 30<avg <= 45:
  print("Grade D")
else :
  print("fail")

enter sub-1 marks90
enter sub-2 marks100
enter sub-3 marks100
96.66666666666667
Grade A

##Loops
1. While loop:(while condition:   statements)
2. For loop:()

In [0]:
# while loop
# print numbers from 1 to N
N = int(input("enter any number")) 
i = 1
while i <= N:
  print(i, end=" ")
  i = i + 1

enter any number7
1 2 3 4 5 6 7

In [0]:
# even natural no. from 1 to N
N = int(input("enter any number"))
i = 1
while i <= N:
  if i%2 == 0:
    print(i,end=" ")
  i=i+1

enter any number7
2 4 6

In [0]:
# print sum of the even no. in the given range
N = int(input("enter any number"))
i = 1
sum = 0
while i <= N:
  if i%2 == 0:
    sum = sum + i
  i = i+1  
print(sum)

enter any number7
12

In [0]:
# Extracting the digits from given no.
# input ----->546
# output ----->6 4 5
N = int(input("enter any number"))
while N!=0:
  print(N%10, end=" ")
  N = N//10

enter any number145
5 4 1

## Questions
1. given no. is palindrome or not
2. print the factors of given no.
3. amstrong or not(ex: 145!=1^3+4^3+5^3 so this 145 no. is not an amstrong no.)
4.

In [0]:
# Palindrome
n = int(input("enter any number"))
rev = 0
temp = n
while n!=0:
  r = n%10
  rev = rev*10+r
  n = n//10
if rev == temp:
  print("palindrome")
else:
  print("not palindrome")

enter any number46564
palindrome

In [0]:
# print factors of given no.
n = int(input("enter a value"))
i = 1
while i <= n:
  if n%i == 0:
    print(i, end=" ")
  i=i+1

enter a value6
1 2 3 6

In [0]:
# amstrong no.
n = int(input("enter a value"))
sum = 0
temp = n
while n!=0:
  i=n%10
  sum = sum+(i**3)
  n=n//10
if sum == temp:
  print("amstrong")
else :
  print("not amstrong")

enter a value153
amstrong

In [0]:
# For loop
# print 1 to n numbers
n = int(input("enter any value"))
i = 1
for i in range(1,n+1,2): # printing all odd no. for given value(1,n+1,2-- increment)
  print(i, end=" ")

In [0]:
#for loop
#even no.
n = int(input("enter any value"))
for i in range(0,n+1,2):
  print(i, end=" ")

enter any value7
0 2 4 6

In [0]:
# sum of even no.s
n = int(input("enter any value"))
sum = 0
for i in range(0,n+1,2):
  sum = sum+i
print(sum)

enter any value7
12

## EEtarable Objects

In [0]:
# printing string using for loop
n = input("enter your name")
for i in n:
  print(i)

enter your namepuppy
p
u
p
p
y

In [0]:
# printing string using while loop
n = input("enter your name")
length = len(n)
i = 0
while i < length:
  print(n[i])
  i+=1

enter your namepuppy
p
u
p
p
y

## Funtions
def name (arg):
   statements
   return

In [0]:
# Function
def add(x,y):
  return x+y
add(10,20)

30

In [0]:
a='10'
print(type (a))

<class 'str'>