<a href="https://colab.research.google.com/github/shwethathatipelly/CRT/blob/master/Day_5(3_12_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# phyton programming
## phyton programming
### phyton programming
#### phyton programming
##### phyton programming
###### phyton programming

1.   phyton basic
2.   phyton advance
3.   phyton program

![image](https://healthshots.hindustantimes.com/wp-content/uploads/2019/07/bOvf94dPRxWu0u3QsPjF_tree.jpg)(greenery)

[google](https://www.google.com/search?rlz=1C1CHBD_enIN854IN854&sxsrf=ACYBGNQccNUGtQzVpU3LTiALmeAFHtybqw%3A1575347086802&ei=juPlXffBMIqb9QPcsp3YAQ&q=google&oq=google&gs_l=psy-ab.3..35i39j0i131i20i263j0i67l4j0j0i131j0j0i131.5342.5899..6118...0.2..0.96.188.2......0....1..gws-wiz.......0i71.sF8WH7lGfKY&ved=0ahUKEwj3wIac0ZjmAhWKTX0KHVxZBxsQ4dUDCAs&uact=5)

In [0]:
print("welcome to phyton programming")

welcome to phyton programming

In [0]:
print("welcome to c programming")
print("welcome to phyton programming")

welcome to c programming
welcome to phyton programming

In [0]:
x=221710405043
print(x)

221710405043

In [0]:
print("Hello world")

Hello world

In [0]:
x = 6
y = 8
print(x+y)
print(x-y)

14
-2

In [0]:
x = int(input("enter x value"))
y = int(input("enter y value"))
print(x+y)
print(x-y)

enter x value43
enter y value34
77
9

In [0]:
name=input("enter name")
age=int(input("enter age"))
print("my name is ",name,"and my age is",age)

enter nameshwetha
enter age19
my name is  shwetha and my age is 19

In [0]:
name = input("enter name")
age = int(input("enter age"))
print("my name is",name,end=' ')
print("my age is",age,)

enter nameshwetha
enter age19
my name is shwetha my age is 19

In [0]:
a = 7
b = 5.847
c = 7+9j
d = 4+7j
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'float'> <class 'complex'> <class 'complex'>

###fundamental Datatype

1. Intger type -- any no.without decimal
2. Float type -- any no. with decimal
3. Complex -- ex: a+jb
4. Boolean type -- ex: True or False
5. Strings -- group of characters

In [0]:
print(c)

(7+9j)

In [0]:
+d

(4+7j)

In [0]:
print(c+d)

(11+16j)

In [0]:
str1 = "GITAM"
str2 = ' UNIVERSITY'
str1+str2

'GITAM UNIVERSITY'

In [0]:
len(str1)

5

In [0]:
len(str2)

11

In [0]:
a = 3876563924768747554554854
print(len(str(a)))

25

In [0]:
result = 10<20
print(result,type(result))

True <class 'bool'>

## Operators
{unary(a++):not present in phyton)

1. Binary
2. Ternary

1. Arithmetic Operations: +,-,*,/,%,etc......
2. Logical Operators:and gate,or gate,not gate,etc....
3. Relational Operators: ==,!=,>,<,>=,<=
4. Membership Operators:(checking the character is in the input) in,not in

In [0]:
a=77
b=7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

84
70
539
11.0
0
16048523266853
11

In [0]:
# Logical Operators
i=12
j=7
print(i>1 and i<20)
print(i>10 or i<45)
print(not i)

True
True
False

In [0]:
#Relational Operators
print(i==j)
print(i!=j)
print(i>j)
print(i<j)
print(i>=j)
print(i<=j)

False
True
True
False
True
False

In [0]:
#Membership operator
str1 = 'GITAM'
print('A' in str1)
print('z' in str1)
print('Z' not in str1)

True
False
True

## Conditional Statements

1. if
2. else
3. elif

In [0]:
# syntax:
if condition:
  statements
  else:
    statements

In [0]:
# to check given number is even or odd
n = int(input("enter any number"))
if n%2==0:
  print('even')
else:
  print('odd')

enter any number67
odd